<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRRJSHECJC"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JRRJSHECJC');
        </script>

        <script data-ad-client="ca-pub-8969180932862200" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async type="text/javascript" charset="utf-8" src="//a.breaktime.com.tw/js/au.js?spj=OEtIMU4wWDJNQTlXOEM5M01EQ1JZRTlKNFc0T0JKODg="></script>

        <meta charset="utf-8">
        <title>關於作者 & 網站-股市計算機 最多人使用的股市試算網站</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.5" type="image/x-icon" />
        <meta name="description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。">
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、損益平衡試算、股票試算、零股試算、零股手續費試算" />
        <meta property="og:title" content="關於作者 & 網站-股市計算機 最多人使用的股市試算網站" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。" />
        <meta property="og:url" content="https://stock-calculator.net/views/author.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/author.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/author.html" />
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.5">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">關於作者 & 網站</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card card-info card-outline">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle" src="../static//images/author.jpg" alt="User profile picture">
                                        </div>

                                        <h3 class="profile-username text-center">Hsiang Yee (James)</h3>
                                        <p class="text-muted text-center">大學生</p>
                                        <hr />
                                        <p class="text-muted">
                                            大家好！我是 James，是一位不折不扣的大學生，在許多股市社團潛水已久，原本只是想做個小工具而已，沒有想到意外受到大家好評，希望大家可以多多分享我的網站~ <br />
                                            股市計算機全部免費，如果網站您有幫助不妨給小弟一些回饋！
                                        </p>
                                        <hr />
                                        <p class="text-muted">
                                            <label>電子信箱</label> <br />
                                            <span class="text-center bg-info py-1 px-2 rounded" id="email" value="admin@stock-calculator.net">admin@stock-calculator.net</span> <span onclick="copy($('#email'))" class="curcursor-pointer">複製</span>
                                        </p>
                                        <hr />
                                        <p class="text-muted">
                                            <label>台新銀行 (812)</label> <br />
                                            <span class="text-center bg-info py-1 px-2 rounded" id="bankAccount" value="28881008780829">2888-10-0878082-9</span> <span onclick="copy($('#bankAccount'))" class="curcursor-pointer">複製</span>
                                        </p>
                                        <hr />
                                        <button class="btn btn-success btn-block" onclick="coffee()">使用 LINE Pay&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/images/line-icon.png" style="width:20px"></button>
                                        <a href="https://richart.tw/TSDIB_RichartWeb/RC04/RC040300?token=i%2FbBub0pEkI%3D" target="_blank" class="btn btn-info btn-block">開啟 Richart App</a>
                                        <!--<iframe id="likeButton" class="zoom" src="" frameborder="0" scrolling="no"></iframe>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="my-2 text-dark">網站更新紀錄</div>                          
                                        <div class="timeline">
                                            <div class="time-label">
                                                <span class="bg-info">2021 / 05 / 02</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.6</span>

                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>新增「ETF試算」、「權證試算」</li>
                                                            <li>「報酬率快速算」、「損益平衡試算」計算</li>
                                                            <li>修正「報酬率快速算」折讓方式問題</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 03 / 26</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.5</span>
                                                    <h3 class="timeline-header">新增 Google 廣告</h3>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="bg-info">2021 / 03 / 18</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.4.1</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="bg-info">2021 / 03 / 14</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.4</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>更新網站網域。</li>
                                                            <li>更新網站所有連結。</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 03 / 12</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.3</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>在首頁添加 Facebook 臉書粉絲團和 Instagram 連結。</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 03 / 07</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.9.1</span>
                                                    <h3 class="timeline-header">版權宣告</h3>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.9</span>
                                                    <h3 class="timeline-header">版權宣告</h3>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 02 / 08</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.8</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>添加 「常見問題」 頁面，常常有粉絲寄給我的問題，我都會將回復寫在裡面。</li>
                                                            <li>添加 「likeButton」 功能，提供另一種贊助版主的方法，詳細介紹寫在「常見問題」中。</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 01 / 24</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.7</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>修正連結問題</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2021 / 01 / 22</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.6</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>新增「現股當沖試算(Mini)」，方便投資人在當沖時更快速的查看損益和報酬率</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 30</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.5</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>修正價金錯誤</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.4</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>修正價金錯誤</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 13</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.3</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>修正最低手續費失效問題</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 7</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.2</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>SEO 優化</li>
                                                            <li>移除不必要的css、js，加快網頁載入速度</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 5</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2.1</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>修正損益顯示問題</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.2</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>新增「折讓方式」，可試算月退金額</li>
                                                            <li>更詳細的交易明細，新增「價金」、「股數」、「退佣」</li>
                                                            <li>新增「分享」按鈕於頁面右下角</li>
                                                            <li>新增「損益平衡試算」功能頁面</li>
                                                            <li>新增「報酬率快速算」功能頁面</li>
                                                            <li>新增「首頁」頁面</li>
                                                            <li>新增「Line Pay」贊助方式</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 2</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.1.1</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        版本更新內容：
                                                        <ul>
                                                            <li>現股當沖試算 - UI / UX 修正</li>
                                                            <li>現股當沖試算 - 部分試算金額錯誤修正</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 11 / 1</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.1</span>
                                                    <h3 class="timeline-header">系統更新</h3>
                        
                                                    <div class="timeline-body">
                                                        沒有想到一天的流量可以到這麼高，有點意料之外，但也謝謝各位的支持以及建議，我會持續收集大家的意見，並且持續更新。<br />
                                                        <hr />
                                                        版本更新內容：
                                                        <ul>
                                                            <li>現股當沖試算 - 新增「查看更多」，提供大家查看更多 Tick 試算</li>
                                                            <li>現股當沖試算 - 新增交易明細</li>
                                                            <li>現股當沖試算 - UI / UX 修正</li>
                                                            <li>新增「關於作者」頁面</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="time-label">
                                                <span class="bg-info">2020 / 10 / 31</span>
                                            </div>
                                            <div>
                                                <div class="timeline-item">
                                                    <span class="time">V1.0</span>
                                                    <h3 class="timeline-header">網站上架</h3>
                        
                                                    <div class="timeline-body">
                                                        其實會做這個網站只是偶然，我沒有想到會有這麼多人使用，原本只是我上課無聊花一整天做的，結果沒有想到大受好評。 <br />
                                                        <hr />
                                                        版本更新內容：
                                                        <ul>
                                                            <li>現股當沖試算功能上線</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2022 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>
    
    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.5"></script>
    <script src="../static/js/basic.js?v=1.5"></script>
    <script src="../static/js/layout.js?v=1.5"></script>
    <script>
        document.oncontextmenu = function(){
            return false
        }
    </script>
</html>
