<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRRJSHECJC"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-JRRJSHECJC');
            </script>
        <!-- Google tag (gtag.js) -->

        <!-- google adsense -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200"crossorigin="anonymous"></script>
            <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <!-- google adsense -->

        <meta charset="utf-8">
        <title>加密貨幣-股市計算機 最多人使用的股市試算網站</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.8.7" type="image/x-icon" />
        <meta name="description" content="股市計算機-加密貨幣提供股票損益平衡點的計算，並且包含現股與零股的手續費與證交稅計算">
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、加密貨幣、股票試算、零股試算、零股手續費試算" />
        <meta property="og:title" content="加密貨幣-股市計算機 最多人使用的股市試算網站" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機-加密貨幣提供股票損益平衡點的計算，並且包含現股與零股的手續費與證交稅計算">
        <meta property="og:url" content="https://stock-calculator.net/views/balance.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/balance.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/balance.html" />

        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.8.7">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">加密貨幣量化交易 - 免費報單社群</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="card card-info">
                        <div class="card-header py-2">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            如果您對於每天盯盤感到厭煩，又不排斥投資加密貨幣的話，歡迎加入我們的量化交易體驗社群。 <br /><br />

                            <h4><B>為什麼要選擇量化交易?</B></h4>
                            量化交易是利用電腦輔助交易的一種行為，而量化交易都是經過歷史資料回測，驗證可行才真正運行的策略。 <br />
                            而不是隨便擬定一個策略就拿真錢下去驗證，到最後沒賺到錢，也賠了一堆錢。 <br /> <br />
                        
                            <h4><B>關於我們的策略回測</B></h4>
                            以下是由我所開發的交易策略，可以看到它的歷史回測資料是可行、是可賺錢的。 <br />
                            <div class="row">
                                <div class="col-6 p-2">
                                    <img src="../static/images/AXS.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <img src="../static/images/DOGE.png" width="100%">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 p-2">
                                    <img src="../static/images/DUSK.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <img src="../static/images/GALA.png" width="100%">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 p-2">
                                    <img src="../static/images/GTC.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <img src="../static/images/INJ.png" width="100%">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 p-2">
                                    <img src="../static/images/LPT.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <img src="../static/images/NKN.png" width="100%">
                                </div>
                            </div>  <br /> <br />

                            可以知道說，這些策略在以前都是可以穩定賺錢的，那就可以嘗試真錢投入。 <br />
                            而下圖是以今年 2023 年每次都以最多虧損 10 USDT 的情況下，所回測出來的損益圖，可以發現下單將近200單，獲利約 700 USDT。 <br />
                            可以承受單筆 20 USDT = 獲利 1400 USDT 以此類推
                            <img src="../static/images/balance.png" width="100%"> <br /> <br />


                            <h4><B>如何加入免費報單社群?</B></h4> 
                            <h5>1. 操作加密貨幣是需要將法幣轉換成加密貨幣的，這邊我推薦台灣的<a href="https://ace.io/invitation/63446653">ACE 交易所(點擊註冊)</a>，他們與凱基銀行合作可以出入金法幣。</h5>  <br />
                            <img src="../static/images/ACE.png" width="100%"> <br /> <br />

                            <hr />

                            <h5>2. 選擇交易所</h5> <br /> 
                            <div class="row">
                                <div class="col-6 p-2">
                                    <a href="https://accounts.binance.com/register?ref=28827762"><B>全球最大交易所 - 幣安 Binance (點擊註冊)</B></a>
                                    <img src="../static/images/Binance.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <a href="https://partner.bitget.com/bg/J3626Y"><B>Bitget (點擊註冊)</B></a>
                                    <img src="../static/images/bitget.png" width="100%">
                                </div>
                            </div>  <br />

                            <div class="row">
                                <div class="col-6 p-2">
                                    <a href="https://www.pionex.com/zh-TW/signUp?r=dxwo6ANz"><B>最多機器人工具 - 派網 pionex (點擊註冊)</B></a>
                                    <img src="../static/images/pionex.png" width="100%">
                                </div>
                                <div class="col-6 p-2"></div>
                            </div>  <br /> <br />

                            <hr />

                            <h5>3. <a href="https://line.me/ti/g2/YLuBypo82krygXgt2i7ZthdXCJcT01lSIenplg?utm_source=invitation&utm_medium=link_copy&utm_campaign=default">申請加入 Line 社群(點擊申請加入)</a>，並回答註冊的其中一個交易所和 UID，經過驗證即可加入!</h5>  <br /> 
                            <div class="row">
                                <div class="col-6 p-2">
                                    <a href="https://accounts.binance.com/register?ref=28827762"><B>全球最大交易所 - 幣安 Binance (點擊註冊)</B></a>
                                    <img src="../static/images/Binance-UID.png" width="100%">
                                </div>
                                <div class="col-6 p-2">
                                    <a href="https://partner.bitget.com/bg/J3626Y"><B>Bitget (點擊註冊)</B></a>
                                    <img src="../static/images/bitget-UID.png" width="100%">
                                </div>
                            </div>  <br />

                            <div class="row">
                                <div class="col-6 p-2">
                                    <a href="https://www.pionex.com/zh-TW/signUp?r=dxwo6ANz"><B>最多機器人工具 - 派網 pionex (點擊註冊)</B></a>
                                    <img src="../static/images/pionex-UID.png" width="100%">
                                </div>
                                <div class="col-6 p-2"></div>
                            </div>  <br /> <br />
                            
                            <hr />

                            <h5>4. 報單示意圖 </h5><br />
                            <img src="../static/images/demo.png" width="50%"><br /><br />

                            <hr />
                            
                            <div class="text-left">
                                <h4 class="text-danger"><B>注意事項</B></h4><br />
                                1. 帶單資訊僅提供參考，請自行衡量自身風險 <br />
                                2. 如有任何疑問或疑慮請聯絡此信箱: admin@stock-calculator.net
                            </div>
                        </div> 

                        
                    </div>

                    
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2023 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>

    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.8.7"></script>
    <script src="../static/js/basic.js?v=1.8.7"></script>
    <script src="../static/js/layout.js?v=1.8.7"></script>
    <script src="../static/js/stockCalculator.js?v=1.8.7"></script>
    <script src="../static/js/balance.js?v=1.8.7"></script>
    <script src="../static/js/marketing.js?v=1.8.7"></script>
    <script>
        document.oncontextmenu = function(){
            return false
        }
    </script>
</html>
