<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRRJSHECJC"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-JRRJSHECJC');
            </script>
        <!-- Google tag (gtag.js) -->

        <!-- google adsense -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200"crossorigin="anonymous"></script>
            <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <!-- google adsense -->

        <meta charset="utf-8">
        <title>ETF試算-股市計算機 最多人使用的股市試算網站</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.8.6" type="image/x-icon" />
        <meta name="description" content="股市計算機-ETF試算提供ETF手續費以及證交稅計算，透過您自訂的手續費折數和最低手續費，快速的算出每一個價格的手續費、證交稅以及損益。" />
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、損益平衡試算、股票試算、ETF手續費">
        <meta property="og:title" content="ETF試算-股市計算機 最多人使用的股市試算網站" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機-ETF試算提供ETF手續費以及證交稅計算，透過您自訂的手續費折數和最低手續費，快速的算出每一個價格的手續費、證交稅以及損益。" />
        <meta property="og:url" content="https://stock-calculator.net/views/ETF.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/ETF.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/ETF.html" />
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.8.6">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">ETF試算</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="card card-info">
                        <div class="card-header py-2">
                            <h3 class="card-title">帳戶屬性</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>手續費折數<span class="text-danger">*</span></label>
                                <span class="text-dark curcursor-pointer" onclick="discountQuestion()"><i class="far fa-question-circle cust"></i> 如何填寫?</span>
                                <input type="number" step="0.1" class="form-control" id="discount" value="2.8" placeholder="2.8">
                            </div>
                            <div class="form-group">
                                <label>最低手續費(元)<span class="text-danger">*</sapn></label>
                                <input type="number" class="form-control" value="20" min="0" id="lowestFee" placeholder="20" oninput="lowestFeeChange()">
                                <div class="text-warning" id="lowestFeeAlert"></div>
                            </div>
                            <div class="form-group">
                                <label>折讓方式<span class="text-danger">*</sapn></label>
                                <span class="text-dark curcursor-pointer" onclick="discountTypeQuestion()"><i class="far fa-question-circle cust"></i> 計算方式</span>
                                <select class="form-control" id="discountType">
                                    <option value="day">日退</option>
                                    <option value="month">月退</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card card-info">
                        <div class="card-header py-2">
                            <h3 class="card-title">試算</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                        <div class="form-group">
                            <label>價格(每股)<span class="text-danger">*</sapn></label>
                            <input type="number" step="0.01" class="form-control" value="10" id="price" placeholder="10">
                        </div>

                        <div class="form-group">
                            <label class="float-left">數量<span class="text-danger">*</sapn></label>
                            
                            <div class="onoffswitch onoffswitch-unit float-left ml-1">
                                <input type="checkbox" class="onoffswitch-checkbox" id="unit" checked="true">
                                <label class="onoffswitch-label" for="unit">
                                    <span class="onoffswitch-inner onoffswitch-inner-unit"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <span class="text-dark">&nbsp;點擊切換單位</span>

                            <div class="form-group">
                                <input type="number" step="1" class="form-control" value="1" id="sheet" placeholder="100">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>做多 / 放空<span class="text-danger">*</sapn></label>
                            <select class="form-control" id="type">
                                <option value="buy">做多(買)</option>
                                <option value="sell">放空(賣)</option>
                            </select>
                        </div>

                        <button class="btn btn-sm btn-success w-100" onclick="search()">試 算</button>
                        </div>
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200" crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-format="fluid"
                            data-ad-layout-key="-f9+4o+96-fe+1f"
                            data-ad-client="ca-pub-8969180932862200"
                            data-ad-slot="6494334199"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <div class="card card-info">
                        <div class="card-header py-2">
                        <h3 class="card-title">試算結果</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>                  
                                    <tr>
                                        <th width="25%">價格</th>
                                        <th width="25%">手續費</th>
                                        <th width="25%">證交稅</th>
                                        <th width="25%">損益</th>
                                    </tr>
                                </thead>
                            </table>
                            <button class="btn btn-sm btn-light w-100 border py-2" onclick="showMoreTop()"><span class="rounded py-1 px-2 text-white" style="background:#28a745;">顯 示 更 多</span></button>
                            <table class="table table-bordered table-hover" id="list">
                                <tbody>               
                                </tbody>
                            </table>
                            <button class="btn btn-sm btn-light w-100 border py-2" onclick="showMoreDown()"><span class="rounded py-1 px-2 text-white" style="background:#dc3545;">顯 示 更 多</span></button>
                        </div>
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <div class="mb-2 text-center h3">
                            <a href="./crypto.html">加密貨幣免費報單社群，點擊查看詳細資訊!</a>
                        </div>
                    </div>

                    <div class="bg-white border rounded py-2 px-3 mt-1">
                        1.本平台所有計算結果都僅供參考，投資人應自行判斷損益以及風險。 <br />
                        2.計算結果可能會因為證券商對於小數點處理方式不同，而有所差異。
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200" crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-format="autorelaxed"
                            data-ad-client="ca-pub-8969180932862200"
                            data-ad-slot="5396874948"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <div class="invoice p-3 rounded mt-3" id="marketing"></div>

                    <!--<iframe id="likeButton" class="zoom" src="" frameborder="0" scrolling="no"></iframe>-->
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2023 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>

    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.8.6"></script>
    <script src="../static/js/basic.js?v=1.8.6"></script>
    <script src="../static/js/layout.js?v=1.8.6"></script>
    <script src="../static/js/stockCalculator.js?v=1.8.6"></script>
    <script src="../static/js/ETF.js?v=1.8.6"></script>    
    <script src="../static/js/marketing.js?v=1.8.6"></script>
    <script>
        document.oncontextmenu = function(){
            return false
        }
    </script>
</html>
