<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3V6H29T1F"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-H3V6H29T1F');
        </script>
        <script data-ad-client="ca-pub-9021908869688517" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta charset="utf-8">
        <title>股市計算機 | 首頁</title>
        <meta name="description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。">
        <meta name="keywords" content="股市計算機、當沖試算、現股試算、損益平衡試算、股票試算">
        <meta property="og:title" content="股市計算機｜首頁" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。" />
        <meta property="og:url" content="https://hsiangyee.github.io/views/index.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://hsiangyee.github.io/views/index.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://hsiangyee.github.io/views/index.html" />
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.2.7">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">股市計算機</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="callout callout-warning">
                        <h5><i class="fas fa-info text-warning"></i>&nbsp;&nbsp;&nbsp;<span class="text-dark">站長提醒</span></h5>
                        <span class="text-dark">
                            1.因各個社團板規不同，每次的更新可能不會到每一個社團貼文，所以請各位隨時關注網站。 <br />
                            2.有時候的更新會因為瀏覽器暫存問題無法看到最新版本，建議可以使用瀏覽器的無痕模式開啟網站。 <br />
                        </span>
                    </div>

                    <div class="callout callout-success">
                        <h5><span class="text-dark">提供您的想法</span></h5>
                        <span class="text-dark">
                            謝謝大家支持股市計算機，股市計算機會持續為大家製作更多的試算功能~<br />
                            如果有<span class="text-danger">任何建議或是功能許願</span>都可以到下面網址填寫表單讓作者知道哦~ <br />
                            <a target="_blank" href="https://bit.ly/32EV1Mq" class="text-success">股市計算機建議&許願表單</a>
                        </span>
                    </div>

                    <div class="invoice p-3 rounded">
                        <div class="h4 text-dark">快速連結</div>
                        <hr />
                        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1">
                            <div class="col p-1">
                                <a href="roi.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator2.jpg?v=1.2.7" alt="股市計算機｜報酬率快速算" title="股市計算機｜報酬率快速算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">報酬率快速算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="balance.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator1.jpg?v=1.2.7" alt="股市計算機｜損益平衡試算" title="股市計算機｜損益平衡試算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">損益平衡試算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="dayTrading.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator2.jpg?v=1.2.7" alt="股市計算機｜現股當沖試算" title="股市計算機｜現股當沖試算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">現股當沖試算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="dayTradingMini.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator1.jpg?v=1.2.7" alt="股市計算機｜現股當沖試算(Mini)" title="股市計算機｜現股當沖試算(Mini)" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">現股當沖試算(Mini)</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 HsiangYee</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>

    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.2.7"></script>
    <script src="../static/js/layout.js?v=1.2.7"></script>
    <script src="../static/js/basic.js?v=1.2.7"></script>
</html>
