<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3V6H29T1F"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-H3V6H29T1F');
        </script>
        <script data-ad-client="ca-pub-8969180932862200" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta charset="utf-8">
        <title>股市計算機 | 首頁</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.5" type="image/x-icon" />
        <meta name="description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。">
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、損益平衡試算、股票試算">
        <meta property="og:title" content="股市計算機｜首頁" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。" />
        <meta property="og:url" content="https://stock-calculator.net/views/index.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/index.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/index.html" />
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.5">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">股市計算機</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="invoice p-3 rounded">
                        <div class="h4 text-dark">股市計算機粉絲團</div>
                        <hr />
                        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1">
                            <div class="col p-1">
                                <a href="http://bit.ly/2N9eJvf" target="_blank">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/logo.png?v=1.5" alt="股市計算機｜Facebok 臉書粉絲團" title="股市計算機｜Facebok 臉書粉絲團" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">Facebook 粉絲團</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="https://bit.ly/3veSUvf" target="_blank">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/logo.png?v=1.5" alt="股市計算機｜Instagram" title="股市計算機｜Instagram" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">Instagram</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <div class="h4 text-dark">快速連結</div>
                        <hr />
                        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1">
                            <div class="col p-1">
                                <a href="roi.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator2.jpg?v=1.5" alt="股市計算機｜報酬率快速算" title="股市計算機｜報酬率快速算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">報酬率快速算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="balance.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator1.jpg?v=1.5" alt="股市計算機｜損益平衡試算" title="股市計算機｜損益平衡試算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">損益平衡試算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="dayTrading.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator2.jpg?v=1.5" alt="股市計算機｜現股當沖試算" title="股市計算機｜現股當沖試算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">現股當沖試算</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="dayTradingMini.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/calculator1.jpg?v=1.5" alt="股市計算機｜現股當沖試算(Mini)" title="股市計算機｜現股當沖試算(Mini)" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">現股當沖試算(Mini)</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1">
                            <div class="col p-1">
                                <a href="question.html">
                                    <div class="box border rounded curcursor-pointer">
                                        <img src="../static/images/question.jpeg?v=1.5" alt="股市計算機｜報酬率快速算" title="股市計算機｜報酬率快速算" class="box-bg-image">
                                        <div class="mask"></div>
                                        <div class="box-content">常見問題</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row px-1">
                        <div class="col-12 col-lg-6 col-md-6 col-xs-12 col-sm-12 mt-2">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-format="fluid"
                                    data-ad-layout-key="-g9-1q+21-20+86"
                                    data-ad-client="ca-pub-8969180932862200"
                                    data-ad-slot="6826167532"></ins>
                            <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-xs-12 col-sm-12 mt-2">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-format="fluid"
                                    data-ad-layout-key="-g9-1q+21-20+86"
                                    data-ad-client="ca-pub-8969180932862200"
                                    data-ad-slot="6826167532"></ins>
                            <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>

                    <div class="invoice p-3 rounded mt-1" id="marketing"></div>

                    <iframe id="likeButton" class="zoom" src="" frameborder="0" scrolling="no"></iframe>
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2021 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>

    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.5"></script>
    <script src="../static/js/layout.js?v=1.5"></script>
    <script src="../static/js/basic.js?v=1.5"></script>
    <script src="../static/js/marketing.js?v=1.5"></script>
</html>
