<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRRJSHECJC"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-JRRJSHECJC');
            </script>
        <!-- Google tag (gtag.js) -->

        <!-- google adsense -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200"crossorigin="anonymous"></script>
            <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <!-- google adsense -->

        <meta charset="utf-8">
        <title>常見問題-股市計算機 最多人使用的股市試算網站</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.8" type="image/x-icon" />
        <meta name="description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。">
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、損益平衡試算、股票試算、零股試算、零股手續費試算" />
        <meta property="og:title" content="常見問題-股市計算機 最多人使用的股市試算網站" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機提供多樣股市試算的網站，目前有提供：現股當沖試算、現股當沖試算(Mini)損益平衡試算、報酬率快速算，網站本身是免費試算的，但您可以透過實際贊助支持站長，讓站長提供您更多試算工具。" />
        <meta property="og:url" content="https://stock-calculator.net/views/question.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/question.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/question.html" />
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.8">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">常見問題</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">              
                    <div class="callout callout-info">
                        <h5><span class="text-dark"><B>頁面中底下的按讚和讚賞公民是什麼?</B></span></h5>
                        <span class="text-dark">
                            按讚是回饋作者的一種方式，如果您喜歡版主的網站，但預算又有限的話，可以按 1 ~ 5 的讚(幫版主按爆xD)，這個按讚的動作並不會產生費用，但會轉換成 LikeCoin 虛擬貨幣給版主。 <br />
                            讚賞公民是每個月 5 塊美元贊助版主，如果您是版主的忠實用戶預算又夠的話，不妨贊助版主每個月一杯咖啡哦~
                        </span>
                    </div>

                    <div class="callout callout-info">
                        <h5><span class="text-dark"><B>能有更多的手續費選擇嗎?</B></span></h5>
                        <span class="text-dark">
                            在每個計算機中在「手續費折數」欄位中可以填寫您自己的手續費折數，打 6 折請填 6 打 28 折請填 2.8，以此類推。 <br />
                            範例1:小明手續費是23折，則填入 2.3 <br />
                            範例2:大熊沒有手續費，則填入 10
                        </span>
                    </div>

                    <div class="callout callout-info">
                        <h5><span class="text-dark"><B>能有一個直接算出虧損的功能嗎?</B></span></h5>
                        <span class="text-dark">
                            在報酬率快速算中就有提供這個功能，可以依造自己的買入賣出價格快速算出損益以及詳細交易明細。
                        </span>
                    </div>

                    <div class="callout callout-info">
                        <h5><span class="text-dark"><B>能顯示損益 % 數嗎?</B></span></h5>
                        <span class="text-dark">
                            在「現股當沖試算」、「現股當沖試算(Mini)」和「損益平衡試算」中，每一個 Tick 欄位點擊後都會出現交易明細，裡面就可以詳細看到完整個交易明細，包含損益 % 數。
                        </span>
                    </div>

                    <div class="callout callout-info">
                        <h5><span class="text-dark"><B>現股當沖試算(Mini) 是幹嘛的?</B></span></h5>
                        <span class="text-dark">
                            「現股當沖試算(Mini)」 和 「現股當沖試算」，功能一模一樣的，只是在顯示的欄位不同，在 Mini 中使用者可以更快速的檢視損益 % 數和損益，其餘功能都相同。
                        </span>
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <div class="mb-2 text-center">贊助商廣告</div>
                        <div class="row">
                            <a href="https://bit.ly/3fsF5T3" target="_blank" class="col-12 col-lg-6 col-md-6 col-xs-12 col-sm-12 mx-auto ads-banner py-3 px-4">
                                <div class="ads-title">我覺得對你提高績效有幫助</div>
                                <div class="ads-content">現在點擊，來問看看<span class="ads-yellow">當沖手續費</span>可以多麼優惠、並且免費拿到「當沖專業原理讀書心得+VWAP指標」</div>
                            </a>
                        </div>
                    </div>

                    <div class="invoice p-3 rounded mt-3">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200"crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-format="autorelaxed"
                            data-ad-client="ca-pub-8969180932862200"
                            data-ad-slot="1829246558"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <div class="invoice p-3 rounded mt-3" id="marketing"></div>

                    <!--<iframe id="likeButton" class="zoom" src="" frameborder="0" scrolling="no"></iframe>-->
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2023 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>
    
    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.8"></script>
    <script src="../static/js/basic.js?v=1.8"></script>
    <script src="../static/js/layout.js?v=1.8"></script>
    <script src="../static/js/marketing.js?v=1.8"></script>
    <script>
        document.oncontextmenu = function(){
            return false
        }
    </script>
</html>
