<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRRJSHECJC"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-JRRJSHECJC');
            </script>
        <!-- Google tag (gtag.js) -->

        <!-- google adsense -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8969180932862200"crossorigin="anonymous"></script>
            <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <!-- google adsense -->

        <meta charset="utf-8">
        <title>策略販售-股市計算機 最多人使用的股市試算網站</title>
        <link rel="icon" href="../static/images/logo.ico?v=1.8.8" type="image/x-icon" />
        <meta name="description" content="股市計算機提供股票損益平衡點的計算，並且包含現股與零股的手續費與證交稅計算">
        <meta name="keywords" content="股市計算機、當沖試算、當沖手續費、當沖計算機、現股試算、加密貨幣、股票試算、零股試算、零股手續費試算" />
        <meta property="og:title" content="股市計算機 最多人使用的股市試算網站" />
        <meta property="og:site_name" content="股市計算機" />
        <meta property="og:description" content="股市計算機提供股票損益平衡點的計算，並且包含現股與零股的手續費與證交稅計算">
        <meta property="og:url" content="https://stock-calculator.net/views/balance.html" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="canonical" href="https://stock-calculator.net/views/balance.html" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://stock-calculator.net/views/balance.html" />

        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <liml re="preload" href="../static/template/plugins/fontawesome-free/css/all.min.css" as="style">
        <link rel="stylesheet" href="../static/template/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <liml re="preload" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" as="style">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <liml re="preload" href="../static/template/dist/css/adminlte.min.css" as="style">
        <link rel="stylesheet" href="../static/template/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" as="style">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        <!-- jquery-confirm -->
        <link rel="stylesheet" href="../static/libraries/jquery-confirm/jquery-confirm.min.css.css">
        <!-- SweetAlert2 -->
        <link rel="stylesheet" href="../static/template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="../static/template/plugins/toastr/toastr.min.css">
        <!-- basic -->
        <link rel="stylesheet" href="../static/css/basic.css?v=1.8.8">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" ONCONTEXTMENU="return false">
        <div class="wrapper">
            <div id="menuAndNavbar">
                <!-- layout.js add content -->
            </div>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">策略販售</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content" id="content">
                    <div class="card card-info">
                        <div class="card-header py-2">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4><B>加密貨幣</B></h4>
                            <ul>
                                <li><a href="./strategy/TrendlinesWithBreaks/TrendlinesWithBreaks.html">TrendlinesWithBreaks 程式訊號策略包 (累計報酬 362%)</a></li>
                            </ul>
                        </div> 

                        
                    </div>

                    
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright © 2020 - 2023 HsiangYee All Rights Reserved.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Power by <a href="http://adminlte.io">AdminLTE.io</a></b> 
                </div>
            </footer>
        </div>
    </body>

    <!-- jQuery -->
    <script src="../static/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../static/template/dist/js/adminlte.js"></script>
    <!-- SweetAlert2 -->
    <script src="../static/template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../static/template/plugins/toastr/toastr.min.js"></script>
    <!-- jquery-confirm -->
    <script src="../static/libraries/jquery-confirm/jquery-confirm.min.js.js"></script>

    <script src="../static/js/toast.js?v=1.8.8"></script>
    <script src="../static/js/basic.js?v=1.8.8"></script>
    <script src="../static/js/layout.js?v=1.8.8"></script>
    <script src="../static/js/stockCalculator.js?v=1.8.8"></script>
    <script src="../static/js/balance.js?v=1.8.8"></script>
    <script src="../static/js/marketing.js?v=1.8.8"></script>
    <script>
        document.oncontextmenu = function(){
            return false
        }
    </script>
</html>
