html, body {
    overflow-x: hidden;
}

.curcursor-pointer {
    cursor: pointer;
}

.custom-icon {
    width: 20px;
}

.shareSection {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 60px;
}

.round-icon {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px 0px;
}

.btn-coffee {
    background-color: #6f4e37;
}

.box {
    position: relative;
    min-height: 100px;
    overflow: hidden;
    z-index: 100;
}

.box:hover > .mask{
    opacity: 0.15;
}

.box-bg-image {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .9;
}

.box .mask {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: .5;
    transition: .3s;
}

.box-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

.zoom { 
    width: 110%;
    height: 45vw;
    max-height: 185px;
    max-width: 480px;
    margin-bottom: 15px;
}